sudo: false
language: python
branches:
  only:
  - master
python:
- '2.7'
- '3.4'
- '3.5'
- '3.6'
- pypy
cache: pip
install:
- pip install tox-travis
script: tox -v
after_success:
- bash <(curl -s https://codecov.io/bash)
